* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(227, 208, 208);
    position: relative;
}

.projects-sidebar {
    width: 30%;
    background-color: #fff;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.todos {
    background-color: rgb(213, 241, 175);
    margin-left: 30%;
}

.project {
    cursor: pointer;
}

.project-focus {
    background-color: rgba(136, 136, 136, 0.5);
}

.addtask {
    cursor: pointer;
}

.blur {
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.task-form {
    background-color: rgb(186, 186, 186);
}

.task:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}